{% extends 'base.html.twig' %}

{% block title %}Amis{% endblock %}

{% block body %}
    <div class="max-w-2xl mx-auto my-8 space-y-8 bg-yellow-100 p-6 rounded-xl shadow-md">

        <h3 class="text-2xl font-bold mb-4 text-center">Les personnes</h3>
        {% for profile in profiles %}
            {% if profile != app.user.profile %}
                <div class="border-b pb-4 mb-4">
                    <p class="text-lg font-semibold mb-2">{{ profile.ofUser.email }}</p>

                    {% if not app.user.profile.isFriendsWith(profile) and not app.user.profile.isPendingFriendRequest(profile) %}
                        <a href="{{ path('app_send_friend_request', { id: profile.id }) }}"
                           class="bg-gray-500 hover:bg-gray-700 text-white font-semibold py-1 px-3 rounded">
                            Demander en ami
                        </a>
                    {% endif %}

                    <a href="{{ path('app_chat_initiate', { id: profile.id }) }}"
                       class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-1 px-3 rounded ml-2">
                        Envoyer un message
                    </a>

                </div>
            {% endif %}
        {% endfor %}

        <h3 class="text-2xl font-bold mb-4 text-center">Demandes envoyées</h3>
        {% for sentRequest in app.user.profile.sentRequest %}
            <div class="border-b pb-4 mb-4">
                <p class="text-lg">Demande envoyée à : <span class="font-semibold">{{ sentRequest.recipient.ofUser.email }}</span></p>
            </div>
        {% endfor %}

        <h3 class="text-2xl font-bold mb-4 text-center">Demandes reçues</h3>
        {% for receivedRequest in app.user.profile.receivedFriendRequests %}
            <div class="border-b pb-4 mb-4 flex items-center justify-between">
                <span class="text-lg font-semibold">{{ receivedRequest.sender.ofUser.email }}</span>
                <div class="space-x-2">
                    <a href="{{ path('app_accept_friend_request', { id: receivedRequest.id }) }}"
                       class="bg-green-500 hover:bg-green-700 text-white font-semibold py-1 px-3 rounded">
                        Accepter
                    </a>
                    <a href="{{ path('app_decline_friend_request', { id: receivedRequest.id }) }}"
                       class="bg-red-500 hover:bg-red-700 text-white font-semibold py-1 px-3 rounded">
                        Refuser
                    </a>
                </div>
            </div>
        {% endfor %}

        <h3 class="text-2xl font-bold mb-4 text-center">Mes amis</h3>
        {% for friend in app.user.profile.getFriends() %}
            <div class="border-b pb-4 mb-4">
                <p class="text-lg font-semibold">{{ friend.ofUser.email }}</p>
            </div>
        {% endfor %}
        <a href="{{ path('app_post') }}" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600">Retour</a>

    </div>
{% endblock %}
