{% extends 'base.html.twig' %}

{% block body %}
    <div class="max-w-2xl mx-auto mt-8 space-y-6">

        {% for post in posts %}
            <div class="bg-yellow-100 rounded-2xl shadow p-6">
                <div class="flex items-center mb-4">
                    {# Ajoutrer la photo de profile #}
                    <div class="w-12 h-12 rounded-full bg-gray-300 mr-4"></div>


                    <div>
                        <p class="font-semibold">{{ post.author.email }}</p>
                        <p class="text-sm text-gray-600">{{ post.createdAt|date('d/m/Y') }}</p>
                    </div>
                </div>


                <p class="text-gray-800 mb-4 whitespace-pre-line">{{ post.content }}</p>


                {% for image in post.images %}
                    <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="" class="rounded-xl max-w-xs h-auto mb-5">
                {% endfor %}
                <a href="{{ path('app_post_show', {id:post.id}) }}" class="bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl text-white px-4 py-2 rounded hover:bg-yellow-600">Read</a>

            </div>

        {% endfor %}

    </div>
{% endblock %}
